.body_h {
  background-image: url('home_background.jpg');
}


.navbar {
  background: #333;
  padding: 0px;
  margin-bottom: 57px;
}

.nav-collapse {
  width: 100%;
  text-align: center;
}

.navbar-nav {
  color: #818181;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #333;
  border-style: none;
  width: 100%;
}

.nav-item {
  width: 100%;
  color: #b4ae75;
  filter: brightness(100%);
}


.text-center{
  border-color: rgb(0,0,0);
  color: rgb(0,0,0);
  font-family: Amarante, serif;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 30px;
}

.form-range::-moz-range-thumb {
  background: #8f0303; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.btn {
  background: rgba(13,110,253,0);
  border-style: none;
  width: 113px;
  height: 73px;
  margin: -11px;
  margin-bottom: 17px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
